.card,
card-body {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Open Sans", sans-serif; /* Replace with the font of your choice */
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.form-control {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  color: #333;
}

/* Style for the form */
form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  max-width: 500px;
  margin: 0 auto;
}

/* Style for the form header */
.card-header h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;

  padding-top: 3%;
  text-transform: uppercase;
  color: #000;
}

/* Style for the form labels */
label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1e90ff;
}

/* Style for the form inputs */
input,
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}

/* Style for the form inputs when they are focused */
input:focus,
select:focus {
  border-color: #1e90ff;
  outline: none;
}

/* Style for the form submit button */
button[type="submit"] {
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 24px;
  margin-top: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

/* Style for the form submit button when it is hovered */
button[type="submit"]:hover {
  background-color: #00bfff;
  cursor: pointer;
}

/* Style for the form link */
.text-center a {
  color: #1e90ff;
  text-decoration: none;
  font-size: 16px;
}

/* Style for the form link when it is hovered */
.text-center a:hover {
  text-decoration: underline;
}

/* Style for the form select dropdown */
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-repeat: N-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 6px;
  padding-right: 30px;
  cursor: pointer;
}

/* Style for the form select dropdown arrow icon */
select.form-control::-ms-expand {
  display: none;
}

/* Style for the form error message */
.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

/* Style for the form success message */
.success-message {
  color: #28a745;
  font-size: 14px;
  margin-top: 5px;
}
